{#
#
# (c) Copyright 2017 Hewlett Packard Enterprise Development LP
# (c) Copyright 2017-2018 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
{% include 'ifscript_header_Suse.j2' %}


{# ADD NORMAL FLOW TO PREVENT UNINTENDED DISCONNECTION FROM NETWORK #}
 $POST_UP || ovs-ofctl add-flow {{ item.device }} priority=0,actions=normal || true

{# FOR DPDK BRIDGES WE NEED TO SET DATAPATH TYPE ON START, AND DELETE PORT AND BRIDGE ON EXIT #}
{% if item.dpdk_port is defined -%}
$POST_UP || ovs-vsctl --timeout=5 set bridge {{ item.device }} datapath_type=netdev || true
$PRE_DOWN || ovs-vsctl --timeout=5 set bridge {{ item.device }} datapath_type=system || true
$PRE_DOWN || ovs-vsctl --timeout=5 -- --if-exists del-port {{ item.device }} {{ item.port }} -- || true
$PRE_DOWN || ovs-vsctl --timeout=5 -- --if-exists del-br {{ item.device }} -- || true
{% endif %}


{# DEFINE HARDWARE ADDRESS FOR THE BRIDGE #}
{%- if item.hwaddr is defined %}
$POST_UP || ovs-vsctl --timeout=5  set bridge {{ item.device }} other-config:hwaddr={{ item.hwaddr }} || true
{% endif %}


{# CONNECT PORT #}

{# IF PORT IS DEFINED IN THE IFCFG- FILE AND NO DPDK, WE DON"T HAVE TO DO ANYTHING. WICKED PLUGS IT IN #}

{# IF BRIDGE USES OVS BONDS WE CONFIGURE IT AS THE PORT USING OVSCTL #}
{% if item.bond_mode is defined %}
$POST_UP || ovs-vsctl --timeout=5 --may-exist add-bond {{ item.device }} {{ item.port }}
{%- for slave in item.bond_slaves %} {{ slave }} {% endfor -%}
 bond_mode={{ item.bond_mode }}
{%- if item.bond_options is defined %}
{%- for key, value in item.bond_options.iteritems() %}
{%- if key == "lacp" or key == "bond_updelay" or key == "bond_downdelay"  %}
 {{ key }}={{ value }}
{%- else %}
 other-config:{{ key }}={{ value }}
{%- endif %}
{%- endfor %}
{%- endif %}
 || true

{# IF BRIDGE USES OVS DPDK BONDS WE HAVE SOME EXTRA CONFIGURATION #}
{% if item.dpdk_port is defined %}
{% for slave in item.bond_slaves %}
$POST_UP || ovs-vsctl --timeout=5 set Interface {{ slave }} type=dpdk options:dpdk-devargs={{ slave | pci_hw_address(nic_mappings) }} || true
{% endfor %}
{% endif %}

{# IF BRIDGE IS NOT DPDK BUT USES OVS BONDS, WE NEED TO SET MTUS OF SLAVES. #}
{% if item.dpdk_port is defined %}
{%- for slave in item.bond_slaves %}
{% if item.interface_mtu is defined %}
  $POST_UP || ip link set {{ slave }} mtu {{ item.interface_mtu }} || true
{% endif %}
{% endfor -%}
{% endif %}

{% else %}
{# NO OVS BONDS. BRIDGE USES DIRECT INTERFACES #}
{# DPDK REQUIRED PORT TO BE ADDED USING OVSVSCTL #}
{%- if item.dpdk_port is defined %}
$POST_UP || ovs-vsctl --timeout=5 -- --may-exist add-port {{ item.device }} {{ item.port }} -- set Interface {{ item.port }} type=dpdk options:dpdk-devargs={{ item.port | pci_hw_address(nic_mappings) }} -- || true
  {# REMOVE ANY CONFIGURATION LEFT BEHIND FOR PORT #}
  $POST_UP || rm /etc/sysconfig/network/ifcfg-{{ item.port }} || true
  {% endif %}
  {# NONE DPDK BRIDGES SHOULD DEFINE THEIR PORTS IN IFCFG FILES #}
{% endif %}

{# END CONNECT PORT #}


{# CONFIGURE MTU IF REQUIRED.#}
{%- if item.force_interface_mtu is defined and item.interface_mtu is defined %}
  $POST_UP || ip link set dev {{ item.port }} mtu {{ item.interface_mtu }} || true
{% endif %}


{%- if item.mtu is defined %}
  $POST_UP || ip link set dev {{ item.device }} mtu {{ item.mtu }} || true
{% endif %}

{% include 'if_routes_Suse.j2' %}
